<form action="/tasks/<%= @task.id %>" method="post">
  <input type="hidden" name="_method" value="PUT">
  <h3>Update task:</h3>
  <p>Title:<br>
    <input type="text" name="task[title]" value="<%= @task.title %>">
  </p>
  <p>Description:<br>
    <textarea name="task[description]" value="<%= @task.description %>"></textarea>
  </p>
  <input type="submit" value="Update">
</form>
