<form action="/tasks" method="post">
  <h3>Enter a new task:</h3>
  <p>Title:<br>
    <input type="text" name="task[title]">
  </p>
  <p>Description:<br>
    <textarea name="task[description]"></textarea>
  </p>
  <input type="submit">
</form>
